ul.tools
  li.chpass
    a(href=basepath + "/changeProfile") Change profile
  - if (user.admin)
    li.mngusers
      a(href=basepath + "/manageUsers") Manage users
    li.link
      a(href=basepath + "/linkedDevices") Linked devices
