h1 Change password

form(method="post", action=basepath + "/changePassword")
  p
    label Old password:
    input(type="password", name="old")
  p
    label New password:
    input(type="password", name="new1")
  p
    label Check new password:
    input(type="password", name="new2")
  p
    input(type="submit", value="Change password")
