h1 Add User

form(method="post", action=basepath + "/createUser")
  p
    label Username:
    input(name="login", value=formval.login)
  p
    label Password:
    input(type="password", name="passwd1")
  p
    label Check password:
    input(type="password", name="passwd2")
  p
    label Name:
    input(name="realname", value=formval.name)
  p
    label Admin:
    input(type="checkbox", name="admin", value="t", checked=formval.admin)
  p
    input(type="submit", value="Add User")
