!!!
html
  head
    title SparkleShare Dashboard
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include includes/header
    #wrapper
      #content
        != messages()
        != body
    include includes/footer
