!!!
html
  head
    title SparkleShare Dashboard
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery-1.6.2.min.js')
  body
    include includes/header
    #wrapper
      #content
        != messages()
        != body
    include includes/footer
