h1 Linked Devices

- if (devices.length < 1)
  strong You have no linked devices
- else
  ul
    - each device in devices
      li
        - if (device.name)
          #{device.name} (#{device.ident})
        - else
          #{device.ident}

p
  a(href=basepath + "/linkDevice") Link new device
