h1 Link your device

script(type="text/javascript", src=basepath + "/javascripts/qrcode.js")
script(type="text/javascript", src=basepath + "/javascripts/qrcanvas.js")

p
  strong Url:
  #{url}

p
  strong Link code:
  span#linkcode

p The easiest way is to scan this code

#qrborder
  #linkqr

p
  | This 
  strong link code 
  | and this 
  strong QR code
  | \ are valid for next
  span#timeleft 0
  | \ seconds.

script(type="text/javascript")
  $(function() {
    $.ajax({
      url: "#{basepath}/getLinkCode",
      dataType: 'json',
      success: function(data) {
        $('#linkcode').html(data.code);
        $('#timeleft').html(data.validFor);
        append_qrcode(4, 'linkqr', 'SSHARE:' + data.url + '#' + data.code);
        // TODO auto refresh
      }
    });
  });
