h1 Login to your Dashboard

- if (!user)
  form(method="POST", action="/login")
    div
      label(for="username") Username:
      input(type="text", name="username", id="username")
    div
      label(for="password") Password:
      input(type="password", name="password", id="password")
    div
      input(type="submit", value="Login", class="submit")

- else
  p
    strong Logged in as: 
    #{user.name} (#{user.login}) 
    a(href="/logout") Logout
