h1 Login to your Dashboard

- if (!user)
  form(method="post", action="/login")
    div
      label(for="login") Username:
      input(type="text", name="login", id="login")
    div
      label(for="password") Password:
      input(type="password", name="password", id="password")
    div
      input(type="submit", value="Login", class="submit")
