h1 Login

!= messages()

p Try accessing <a href="/folder">/folder</a>.
- if (!user)
  form(method="POST", action="/login")
    p
      label Username:
      input(type="text", name="username")
    p
      label Password:
      input(type="password", name="password")
    p
      input(type="submit", value="Login")
- else
  p
    strong Logged in as: 
    #{user.name} (#{user.login}) 
    a(href="/logout") Logout
